@font-face {
	font-family: 'beerpongfont';
	src:url('fonts/beerpongfont.eot?o7owzj');
	src:url('fonts/beerpongfont.eot?#iefixo7owzj') format('embedded-opentype'),
		url('fonts/beerpongfont.woff?o7owzj') format('woff'),
		url('fonts/beerpongfont.ttf?o7owzj') format('truetype'),
		url('fonts/beerpongfont.svg?o7owzj#beerpongfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="bpicon-"], [class*=" bpicon-"] {
	font-family: 'beerpongfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bpicon-cup:before {
	content: "\e603";
}
.bpicon-logo-cup:before {
	content: "\e602";
}
.bpicon-logo:before {
	content: "\e600";
}
.bpicon-capsule:before {
	content: "\e601";
}
.bpicon-menu:before {
	content: "\e605";
}
.bpicon-trophy:before {
	content: "\e604";
}
