<div ng-include src="'views/partials/header.html'"></div>
<div class="scorers">

<h1>Tournament scorers</h1>

<table>
    <tr>
        <th>place</th>
        <th>name</th>
        <th>team</th>
        <th>group</th>
        <th>played</th>
        <th>score</th>
    </tr>
    <tr ng-repeat="scorer in scorers">
        <td>{{$index+1}}</td>
        <td>{{scorer.name}}</td>
        <td>{{scorer.teamName}}</td>
        <td>{{scorer.groupName}}</td>
        <td>{{scorer.numberOfGame}}</td>
        <td>{{scorer.score}}</td>
    </tr>
</table>
</div>