.tournament-games{
    .group-block{
        overflow:hidden;
        h1{
            text-align: center;
            background-color: black;
            color: white;
            margin: 10px 0px 0px 0px;
        }
        .select-block{
            padding: 10px 20px;
            background-color: black;

            select{
                width: 100%;
                font-size: 30px;
            }
        }
    }
}

.tournament-nextstep{
    margin: 25px 0px;
    text-align: center;
    button{
        background-color: #7cc570;
        color: white;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px;
        display: block;
        width: 170px;
    }
    button:disabled {
        background-color: #dedede;
        color: #636363;
        box-shadow: inherit;
        border: inherit;
        cursor: not-allowed;
    }
}