.history-block{
    padding: 20px;
    text-align: center;

    .cover{
        max-width: 100%;
        height: auto;
    }
    
    .contact{
    
        div{
            padding:10px 0px;  
        }
        
    }
}