.games-block{
    text-align: center;
    .group-game{
        overflow:hidden;

        .group-game-title{
            background-color: black;
            color:white;
            margin:0;
            padding: 10px 0px;
        }

        .winner{
            background-color: green;
            color: white;
        }

        table{
            table-layout: fixed;
            width: 100%;
            border-collapse:collapse;
            border-bottom: 4Px black solid;

            tr,td{
                margin: 0;
                padding: 0;
            }

            td{
                border-left: 4px solid black;
            }

            td + td{
                border-right: 4px solid black; 
            }

            .score{
                font-size: 60px;
                font-weight: bold;
            }

            .players{
                vertical-align: top;
            }

            .winner-button{
                background-color: #FFD700;
                padding: 10px 30px;

                span{
                    vertical-align: middle;

                    &:first-child{
                        padding-right: 5px;
                    }
                }

                &[disabled]{
                    background-color: #D6CD9C;
                }
            }

            .team-name{
                font-weight: bold;
            }

            .player{
                background-color: #dedede;
                padding: 5px 0px;
                margin-bottom: 10px;

                .player-scoring{
                    button{
                        height: 40px;
                        width: 40px;
                        color:white;
                        padding: 0;

                        &.scoreUp{
                            background-color: #4D7A5B;
                        }

                        &.scoreDown{
                            background-color: #C43434;
                        }

                        span{
                            vertical-align: middle;
                        }
                    }

                    button[disabled]{
                        opacity: 0.6;
                    }
                    .player-score{
                        padding: 5px;
                        display: inline-block;
                        width: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 400px) {
    .games-block{
        .group-game{
            margin: 5px;
            width: 400px;
            display: inline-block;
            vertical-align: top;
        }
    }

}
