.playoffs-results{
    text-align: center;

    h1{
        background-color: black;
        color: white;
    }
    .game-results{

        span{
            display: inline-block;
            background-color: #dedede;
            margin: 5px;
            border: 2px solid black;
            table{           
                tr:first-child{
                    color:white;
                    td{
                        padding: 5px;

                        &.winner{
                            background-color: #2E5831;
                        }
                        &.loser{
                            background-color: #A71212;
                        }
                    }
                }

            }
        }
    }
}