.scorers{
    text-align: center;

    h1{
        background-color: black;
        color: white;
        margin-bottom: 0;
    }

    .select-block{
        background-color: black;
        padding: 10px 20px;

        select{
            width: 100%;
            font-size: 30px;
        }

        select + select{
            margin-top: 10px;
        }
    }

    table{
        table-layout: fixed;
        width: 100%;

        .winner{
            background-color: gold;
        }
        tr:first-child{
            background-color: #dedede;
        }
    }
    table,th,td
    {
        border:1px solid black;
        border-collapse:collapse;


    }
}

@media screen and (max-width: 600px) {
    .scorers{

        table{
            tr{
                .group{
                    display: none;
                }
                .ratio{
                    display: none;
                }
            }

        }
    }

}