.select-tournament-header{
    table{
        table-layout: fixed;
        width: 100%;

        td:first-child{
            width: 60px;
        }
    }

    .select-tournament-header-logo{
        font-size: 50px;
    }
    .select-tournament-header-content{
        text-align: right;
    }
}

.select-tournament-choose{
    background-color: #dedede;
    overflow: hidden;
    padding: 10px 0px;

    .select-tournament-choose-title{
        text-align: center; 
        margin: 10px;

        span{
            padding: 10px;
            background-color: $BP-grey;
            color: white;
            display: inline-block;
        }
    }
    .column_container{
        margin:auto;
        text-align: center;
        overflow: hidden;

        .column-left {
            float: left;
            width: 50%;
        }
        .column-right {
            margin-left: 50%;
        }

        .select-tournament-choose-button{
            width: 250px;
            display: inline-block;
            color: white;
            padding: 10px;

            &.green{
                background-color:$BP-green;
            }
            &.blue{
                background-color:$BP-blue;
            }

            h2{
                margin: 0;
            }

            p{
                height: 80px;
                margin-bottom: 0;
                text-align:justify;
            }

            div{
                font-size: 100px;
            }
        }




    }
}

.select-tournament-form{
    .select-tournament-form-line{

        margin: 10px 0px;

        .column-left {
            float: left;
            width: 50%;
            text-align: right;
            line-height: 25px;
            padding-right: 20px;
        }
        .column-right {
            margin-left: 50%;
        }
    }
}

.select-tournament-nextstep{
    margin: 25px 0px;
    text-align: center;
    button{
        background-color: $BP-light-green;
        color: white;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px;
        display: block;
        width: 170px;
    }
}


@media screen and (max-width: 550px) {
    .select-tournament-choose .column_container .column-left {
        float:inherit;
        width: inherit;
        margin-bottom: 20px;
    }
    .select-tournament-choose .column_container .column-right {
        margin-left: inherit;
    }
}