.table-group{
    text-align: center;
    
    h1{
        background-color: black;
        color:white;
        margin-bottom: 0;
    }
    
    table{
        table-layout: fixed;
        width: 100%;
        
        tr:first-child{
            background-color: #dedede;
        }
        
        .qualified{
            background-color: #6BB661;
        }
    }
    table,th,td
    {
        border:1px solid black;
        border-collapse:collapse;
    }
}