.tournament-games{
    .group-block{
        overflow:hidden;
        h1{
            text-align: center;
        }
        .select-block{
            margin: 0px 10px;
            padding: 10px;

            select{
                width: 100%;
                font-size: 30px;
            }
        }
        .group-games-block{
            text-align: center;
            .group-game{
                border:1px solid black;
                overflow:hidden;
                
                .score.winner{
                    background-color: green;
                    color: white;
                }

                table{
                    table-layout: fixed;
                    width: 100%;
                    
                    td:first-child{
                    border-right: 1px solid black;
                    }
                }
            }
        }
    }
}

.tournament-nextstep{
    margin: 25px 0px;
    text-align: center;
    button{
        background-color: #7cc570;
        color: white;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px;
        display: block;
        width: 170px;
    }
}

@media screen and (min-width: 400px) {
    .tournament-games{
        .group-block{
            .group-games-block{
                .group-game{
                    width: 400px;
                    display: inline-block;
                }
            }
        }
    }
}