.winner-page{

    h1,h3{
        text-align: center;
    }

    h1{
        color: gold;
        background-color: black;
    }

    .trophy{
        color:gold;
        text-align: center;
        font-size: 150px;
    }

}