<div ng-include src="'views/partials/header.html'"></div>
<div class="tournament-games">
    <div class="group-block" ng-repeat="group in groups">
        <h1>{{group.name}}</h1>

        <div class="select-block">
            <select ng-init="roundSelected = group.rounds[0]"
                    ng-model="roundSelected"
                    ng-options="'ROUND '+(group.rounds.indexOf(round)+1) for round in group.rounds">
            </select>  
        </div>
        <div class="group-games-block">
            <div class="group-game" ng-repeat="match in roundSelected" ng-init="match.score = [0,0]; match.scorers =[[],[]]">
                <p>{{match.title}}</p>
                <p>{{group.teams[match.match[0]]['name']}}:<input class="score" ng-class="{'winner': match.score[0] == nbrOfCupsToWin}" ng-model="match.score[0]" disabled type="number"></p>
                <p>{{group.teams[match.match[1]]['name']}}:<input class="score" ng-class="{'winner': match.score[1] == nbrOfCupsToWin}" ng-model="match.score[1]" disabled type="number"></p>

                <table>
                    <tr>
                        <td>
                            <div class="player" ng-repeat="player in group.teams[match.match[0]]['players']" ng-init="player.score =0;match.scorers[0].push(player)">
                               <p class="player-name" >{{player.name}}</p>
                                <button  ng-click="scoreDown(match.scorers[0][$index],match.score,0)" >-</button>
                                <input style="width: 32px;text-align: center;" ng-model="player.score" disabled type="number">
                                <button ng-click="scoreUp(match.scorers[0][$index],match.score,0)">+</button>
                            </div>
                        </td>
                        <td>
                            <div class="player" ng-repeat="player in group.teams[match.match[1]]['players']" ng-init="player.score =0;match.scorers[1].push(player)">
                               <p class="player-name" >{{player.name}}</p>
                                <button  ng-click="scoreDown(match.scorers[1][$index],match.score,1)" >-</button><input style="width: 32px;text-align: center;" ng-model="player.score" disabled type="number">
                                <button ng-click="scoreUp(match.scorers[1][$index],match.score,1)">+</button>
                            </div>
                        </td>
                    </tr>
                </table>



            </div>
        </div>
    </div>
</div>
<div ng-if="showNextStep" class="tournament-nextstep">
    <button ng-click="goNextStep()">Show table</button>
</div>